.input_single {
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: text;
    .input_title {
        position: absolute;
        font-size: 1.4rem;
        font-weight: 400;
        color: $icon-color;
        margin-bottom: 0.5rem;
        transition: all 0.15s ease-in-out;
        z-index: 1;
    }
    .input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $icon-color-fade;
        font-size: 1.4rem;
        outline: none;
        padding: 0 0 0.5rem 0rem;
        font-weight: 500;
        color: #363636;
        position: relative;
        &::placeholder {
            font-weight: normal;
        }
        &:focus{
            border-bottom: 1px solid $sc-color;
        }
    }
    .select {
        font-weight: normal;
        color: #363636;
    }
    .date {
        &::-webkit-datetime-edit {
            font-weight: normal;
        }
    }
}

.checkbox{
    label{
        position: unset !important;
        margin-bottom: 0rem !important;
        margin-left: 1rem;
    }
    input{
        accent-color: rgb(0, 153, 89);
    }
}

.btn {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1rem 6rem;
    border: 1px solid $sc-color;
    border-radius: 0.3rem;
    background-color: $sc-color;
    color: #fff;
    text-transform: uppercase;
    &:hover{
        background-color: $sc-color-hover;
    }
}

.file {
    position: relative;
    margin-right: 3rem;
    .input_title {
        border-bottom: 1px solid $icon-color-fade;
        position: absolute;
        padding: 0 10rem 0.5rem 0;
        bottom: -5px;
        font-size: 1.4rem;
        margin-top: 1rem;
        color: $text-color;
        opacity: 0.8;
        white-space: nowrap;
        i {
            padding-right: 1rem;
        }
    }
    input {
        display: none;
        position: absolute;
    }
}

.display-flex{
    display: flex;
    gap: 3%;
}
.w-30{
    width: 30% !important;
}
.h-100{
    height: 100% !important;
}
.content-block{
    background-color: #fff;
}